button {
  font-size: 16px;
  padding: 12px 20px;
  background-color: green;
  color: white;
  margin-left: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.app-container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
