.user-message {
  display: flex;
  justify-content: end;
}
.robot-message {
  display: flex;
}
.message-text {
  background-color: rgb(238, 238, 238);
  padding: 15px 20px;
  border-radius: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
}
img {
  vertical-align: middle;
  margin: 0 8px;
}